

.order-container {
    border-style: solid;
    height: auto;
    width: calc(30vw + 100px);
    margin-left:auto;
    margin-right: auto;
    background-color: #fff;
  
}

.order-header {
    text-align: center;
    background-color: #a9dbde;
    height: auto;


   
}