

.order-container {
    border-style: solid;
    height: auto;
    width: calc(30vw + 100px);
    margin-left:auto;
    margin-right: auto;
    background-color: #fff;
  
}

.order-blueheader {
    text-align: center;
    background-color: #a9dbde;
    height: auto;


   
}

.order-greenheader {
    text-align: center;
    background-color: #69dea7;
    height: auto;
}

.order-redheader {
    text-align: center;
    background-color: #da6363;
    height: auto;
}